* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    font-size: 1.rem;
}

body {
    line-height: 1.6;
}

header {
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    width: 100%;
    height: 4.5rem;
    z-index: 50;
    background-color: rgb(1, 1, 24);
    
}

header nav {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(21, 145, 145); 
    padding: 0 2rem; 
}

header ul {
    display: flex;
    gap: 1rem;
}

header ul li {
    list-style-type: none;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    color: rgba(197, 12, 12, 0.938);
    transition: ease-in-out 0.4s;
}

#hero {
    margin: 3rem 2rem;
    background-image: url(../images/me-in-person.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: end;
    padding: 20px;
    height: 70vh;
    gap: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.me-intro {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} 

div #hero h2 {
    font-weight: 500;
}

#hero a {
   text-decoration: none;
   background-color: blue;
   color: crimson;
   align-self: flex-end;
   position: fixed;
   bottom: 3rem;
   padding: 10px 15px;
   border-radius: 30px;
}

#hero a:hover{
    color: rgb(12, 169, 190);
}

.about-me-intro {
    width: 100%;
    max-width: 70rem;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.about-me-intro img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px; 
}

.about-me-intro-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.about-me-intro-bio p {
   text-align: justify;   
}

p.sentence:first-line {
    color: brown;
}

.skills-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

.skills-heading p {
    font-size: 1.2rem;
}

.skills-intro {
    border-bottom: 1px solid rgb(1, 1, 24, 0.3);
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto auto);
    gap: 1rem;
    
}

.skills-intro div {
    border-radius: 10px;
    background-color: rgb(8, 33, 88);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}

.card div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}
.card div:nth-child(3) {
    grid-column: 1/3;
    grid-row: 2/3;
}

.card div:nth-child(4) {
    grid-column: 2/3;
    grid-row: 1/3;
    overflow-y: auto;
}
    
.skills-intro div:hover:nth-child(odd) {
    background-color: rgb(0, 255, 76);
    text-decoration: underline;
    text-decoration-color: rgba(87, 210, 30, 0.664);
    overflow-y: auto;
}

.skills-intro div:hover:nth-child(even) {
    background-color: rgb(255, 0, 106);
    text-decoration: underline;
    text-decoration-color: chocolate;
    overflow-y: auto;
}

.skills-intro .card button:hover {
    text-decoration: none;
    background-color: rgb(214, 182, 0);
}

.skills-intro .card button:active {
    background-color: coral;
    transform: translateY(15px);
    scale: 1.5;
}

/* Projects*/

.projects-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 2rem;
    font-weight: bold;
}

.projects-heading div>h4 {
    text-transform: capitalize;
}

.projects-heading p{
    font-size: 1.2rem;
}

.projects-intro {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto);
    gap: 1rem;
    border-bottom: 
}

.projects-intro div {
    border: 1px solid black;
    background-color: rgb(131, 49, 49);
    border-radius: 10px;
    text-align: center;
}

.projects-intro ul li {
    list-style-type: none;
}

.projects-intro li > h4 {
    font-size: bold;
    color: black;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.projects-intro img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: 0.3s ease ease-in-out 1s;
}

.projects-intro img:hover {
    scale: 1.10;
}

.projects-intro ul li {
    color: white;
}

.projects-intro ul li:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    overflow: hidden;
}
 
.projects-intro ul li:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}

.projects-intro ul li:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
}

.projects-intro ul li:nth-child(4) {
    grid-column: 1/4;
    grid-row: 2/3;
    overflow-y: auto;
}
   
.projects-intro ul li:hover:nth-child(1) {
    background-color: red;
    text-decoration: underline;
}

 .projects-intro ul li:hover:nth-child(2) {
    background-color: rgb(103, 167, 7)
    
}

.projects-intro ul li:hover:nth-child(3) {
    background-color: red;
    text-decoration: none;
}

.projects-intro ul li:hover:nth-child(4) {
    background-color: red;
    text-decoration: none;
}

.projects-intro div > li a {
    border: 10px;
}


#Contact {
    border-radius: 10px;
    margin-bottom: 2rem;
}

.contact-hub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    font-size: 1.2rem;
    text-align: justify;
}

.contact-hub h5 {
    font-weight: bold;
    font-size: larger;
}

.contact-hub p {
    font-size: medium;
}

.contact {
    background-color: rgb(21, 145, 145,0.1);;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.contact div {
    padding: 2px 4px;
    
    gap: 2px;
}

.contact h5 {
    margin-bottom: 1rem;
    font-size: 1.1rem;

}

.links {
    border: 1px solid rgb(21, 145, 145);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyrite {
    background-color: rgb(1, 1, 24);
    color: white;
    border-top: 1px s0lid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 4.5rem; 
    position: sticky;
    bottom: 0;
    z-index: 50;
}

.copyrite p:hover{
    text-decoration: underline;
    color: rgb(21, 145, 145);
    font-size: 1.2rem;
}

@media(max-width: 768px) {
    .about-me-intro
    .skills-intro
    .projects-intro 
    .contact {
    grid-template-columns: 1fr;
    }
}
